<h2>This is an ERB template</h2>
<p>
If a template named 'layout' exists, it will be used each time a template is rendered. 
</p>
<p>
You can individually disable layouts by passing :layout => false or disable them by default via set :haml, :layout => false:
</p>

<%= erb :my_partial %>
